#container2{
    width: 700px;
    height: 500px;
    background-color: white;
    border: 1px solid grey;
    float: right;
    margin-right: 20px;
}
#container2.Fullcontent{
 width: 1200px;
 margin-right: 50px;
 transition: .5s;
}

#navContainer.sideMenu2{
  
    display: none;

} 
#navContainer{
    
    display:block;
    
}